@model List<User> 
@{
    ViewData["Title"] = "Index";
}

<main>

    <section class="birinci">

        <div class="text-center p-5 tops">
            <h1>Startup Focused</h1>
            <h1>Tailwind CSS Template</h1>
            <div></div>
            <p class="text1 p-2 ">
                A Complete Tailwind CSS Web Template
                Crafted for - Startup,
                SaaS, Business,
                Software and Agencies. Comes
                with high-quality design and everything you need!
            </p>
            <div class="d-flex gap-2 text-center justify-content-center">
                <a class="btn btn1" href="">Get Started</a>
                <a class="btn" style="color: white;" href="">Get Started</a>
            </div>
        </div>
    </section>

    <section class="ikinci">
        <div class="text-center p-5">
            <h1>Main Features</h1>
            <p>
                There are many variations of passages of Lorem Ipsum available but the majority have suffered
                alteration
                in some form.
            </p>
        </div>

        <div class="d-flex container justify-content-center ">
            <div class="cards">
                <i style="color: teal;" class="fa-solid fa-apple-whole"></i>
                <h3>Crafted for Startups</h3>
                <p class="text2">
                    Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus
                    quisquam numquam
                    perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                </p>
            </div>
            <div class="cards">
                <i style="color: teal;" class="fa-solid fa-apple-whole"></i>
                <h3>Crafted for Startups</h3>
                <p class="text2">
                    Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus
                    quisquam numquam
                    perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                </p>
            </div>
            <div class="cards">
                <i style="color: teal;" class="fa-solid fa-apple-whole"></i>
                <h3>Crafted for Startups</h3>
                <p class="text2">
                    Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus
                    quisquam numquam
                    perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                </p>
            </div>
        </div>
        <div class="d-flex container justify-content-center p-5">
            <div class="cards">
                <i style="color: teal;" class="fa-solid fa-apple-whole"></i>
                <h3>Crafted for Startups</h3>
                <p class="text2">
                    Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus
                    quisquam numquam
                    perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                </p>
            </div>
            <div class="cards">
                <i style="color: teal;" class="fa-solid fa-apple-whole"></i>
                <h3>Crafted for Startups</h3>
                <p class="text2">
                    Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus
                    quisquam numquam
                    perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                </p>
            </div>
            <div class="cards">
                <i style="color: teal;" class="fa-solid fa-apple-whole"></i>
                <h3>Crafted for Startups</h3>
                <p class="text2">
                    Tuae nam ex similique incidunt expedita exerci tationem laudantium. Repellendus
                    quisquam numquam
                    perferendis earum sapiente non tempore? Fugit repellat ut maiores.
                </p>
            </div>
        </div>
    </section>

    <section class="ucuncu">
        <div class="text-center p-5">
            <h1 style="color: white;">We are ready to help</h1>
            <p class="" style="color: white;">
                There are many variations of passages of Lorem Ipsum available <br>
                but
                the majority have suffered alteration
                in some form.
            </p>
        </div>

        <div class="text-center p-3">
            <img src="https://startup-tailwind.preview.uideck.com/images/video/video.jpg" alt="">
        </div>
        <div class="p-5">

            <div class=" firma container ">
                <div class="d-flex gap-5 text-center p-3">
                    <img src="~/assets/img/FIrma/ayroui.svg" alt="">

                    <img src="~/assets/img/FIrma/lineicons.svg" alt="">
                    <img src="~/assets/img/FIrma/uideck.svg" alt="">
                    <img src="~/assets/img/FIrma/lineicons.svg" alt="">
                    <img src="~/assets/img/FIrma/ayroui.svg" alt="">


                </div>

            </div>
        </div>


        <div class="p-5  justify-content-center">

            <div class="container d-flex gap-5 justify-content-center">
                <div class=" ">
                    <h1 class="p-2" style="color: white;">Crafted for Startup, SaaS <br> and Business Sites.</h1>
                    <p class="p-2" style="color: white;">
                        The main ‘thrust’ is to focus on educating attendees on how
                        to
                        <br> best protect
                        highly vulnerable
                        business applications with <br> interactive panel discussions and roundtables.
                    </p>
                    <div class="p-2">

                        <div class="d-flex gap-5 ">
                            <h6 style="color: white;"> <i class="fa-solid fa-circle-check"></i>Premium quality</h6>
                            <h6 style="color: white;">
                                <i class="fa-solid fa-circle-check"></i></i>Regular updates
                            </h6>
                        </div>
                        <div class="d-flex gap-5">
                            <h6 style="color: white;"> <i class="fa-solid fa-circle-check"></i>Premium quality</h6>
                            <h6 style="color: white;">
                                <i class="fa-solid fa-circle-check"></i></i>Regular updates
                            </h6>
                        </div>
                        <div class="d-flex gap-5">
                            <h6 style="color: white;"> <i class="fa-solid fa-circle-check"></i>Premium quality</h6>
                            <h6 style="color: white;">
                                <i class="fa-solid fa-circle-check"></i></i>Regular updates
                            </h6>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="~/assets/img/FIrma/about-image.svg" alt="">
                </div>
            </div>
        </div>

        <hr class="xett container">

        <div class="container p-5">

            <div class="d-flex container gap-5 justify-content-center">
                <div>
                    <img src="~/assets/img/FIrma/about-image-2.svg" alt="">
                </div>
                <div>
                    <div>
                        <h2 class="wht">Bug free code</h2>
                        <p class="wht">
                            Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod
                            tempor
                            incididunt ut
                            labore et <br> dolore magna aliqua.
                        </p>
                    </div>
                    <div>
                        <h2 class="wht">Bug free code</h2>
                        <p class="wht">
                            Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod
                            tempor
                            incididunt ut
                            labore et <br> dolore magna aliqua.
                        </p>
                    </div>
                    <div>
                        <h2 class="wht">Bug free code</h2>
                        <p class="wht">
                            Lorem ipsum dolor sit amet, consectetur adipiscing <br> elit, sed do eiusmod
                            tempor
                            incididunt ut
                            labore et <br> dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="dorduncu">
        <div class="text-center p-5">
            <h1>What Our Users Says</h1>
            <p>
                There are many variations of passages of Lorem Ipsum available <br> but the majority have suffered
                alteration in some form.
            </p>
        </div>
        <div class="container d-flex">
            @foreach (var item in Model)
            {

            <div class="container row justify-content-center gap-5">
                <div class="col-6 card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header d-flex">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="card-body text-dark">

                        <p class="card-text">
                            “Our members are so impressed. It's intuitive. It's clean. It's
                            distraction
                            free. If you're building a community.
                        </p>
                    </div>
                    <div class="card-footer d-flex ">
                        <div>

                            <img style="width: 100px; height: 100px;" src="~/assets/img/Firma/@item.Image" alt="">
                        </div>
                        <div>
                            <p>
                                @item.FullName
                            </p>
                            <br>
                            <p>
                                Founder @@TailGrids @item.Job
                        </div>
                    </div>
                </div>
                


            </div>
            }
        </div>
    </section>

    <section class="besinci ">
        <div class="text-center p-5">
            <h1 style="color: white;">Simple and Affordable Pricing</h1>
            <p style="color:white">
                There are many variations of passages of Lorem Ipsum available <br> but the
                majority
                have suffered
                alteration in some form.
            </p>
        </div>

        <div class="text-center">
            <span style="color: white;">Montly</span>
            <span style="color: white;">Yearly</span>
        </div>

        <div>
            <div class="d-flex justify-content-center gap-5 p-5">
                <div class="col-6 card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">

                        <div class=" d-flex ">
                            <div>

                                <h1>$40 /mo</h1>
                            </div>
                            <div class="justify-content-end">
                                <span>Lite</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.

                        </p>
                        <a class="btn" href="">Start Free Trial</a>
                    </div>
                    <div class="card-body text-dark">

                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                    </div>

                </div>
                <div class="col-6 card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">

                        <div class=" d-flex ">
                            <div>

                                <h1>$40 /mo</h1>
                            </div>
                            <div class="justify-content-end">
                                <span>Lite</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.

                        </p>
                        <a class="btn" href="">Start Free Trial</a>
                    </div>
                    <div class="card-body text-dark">

                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                    </div>

                </div>
                <div class="col-6 card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">

                        <div class=" d-flex ">
                            <div>

                                <h1>$40 /mo</h1>
                            </div>
                            <div class="justify-content-end">
                                <span>Lite</span>
                            </div>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet adiscing elit Mauris egestas enim.

                        </p>
                        <a class="btn" href="">Start Free Trial</a>
                    </div>
                    <div class="card-body text-dark">

                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                        <p class="card-text"><i class="fa-solid fa-circle-check"></i>OAll UI Components</p>
                    </div>

                </div>

            </div>
        </div>
    </section>
</main>

